#project_list {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}

@media screen and (max-width: 800px) {
    #project_list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 800px) {
    #project_list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.plist_tile {
    background: var(--c-accent-2-d);
    margin: 0;
    position: relative;
}

.plist_tile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.plist_tile p {
    margin: 0;
}

.plist_tile:hover p:nth-child(1):before {
    content: '> ';
    transition-duration: 1s;
    transition-delay: 1s;
}

.plist_tile img {
    height: 32px;
    margin: 0;
}

.plist_tile p:nth-child(1) {
    transition-duration: 1s;
    transition-delay: 1s;
    background: var(--c-accent-2);
    margin: 0;
    padding: 4px;
    height: fit-content;
}

.plist_tile p:nth-child(2) {
    padding: 6px;
    height: auto;
}

.plist_tile p:nth-child(3) {
    height: fit-content;
    padding: 2px;
    background: white;
    position: center;
    right: 0;
    left: 0;
    margin: 0;
    bottom: 0;
}

.plist_tile p:nth-child(3) button {
    font-size: 8pt;
    border-radius: 10px;
    padding: 0 4px;
    margin: 2px;
    border-width: 1px;
}