#text-in, #text-out {
    border-radius: 1rem;
    background: var(--c-back-head);
    padding: .7rem;
    width: calc(100vw - 2rem);
    max-width: 800px;
    min-height: 20dvh;
    overflow: auto;
    resize: vertical;
    display: flex;
}

#text-out {
    border: 1px solid var(--c-blue);
}

#text-in {
    border: 1px solid var(--c-magenta);
}

main fieldset {
    width: 100%;
    text-align: center;
    padding: 0;
}

select {
    background: var(--c-back-head);
    border: 0.2rem solid var(--c-back-head);
    border-radius: 1rem;
}

#arrows {
    width: 100%;
    display: block;
    text-align: center;
    color: var(--c-gray-l);
    font-size: 24px;
}

p {
    margin: 0.5rem 0
}