.slot-machine {
    display: flex;
    justify-content: center;
}

.reel-container {
    width: 100px;
    aspect-ratio: 4/15;
    overflow: hidden;
    position: relative;
}

.reel div {
    width: 100%;
    aspect-ratio: 4/3;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    box-shadow: inset 0 0 1rem black;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--c-dark-text);
    background: var(--c-white-text);
    border-radius: 3rem;
}