@font-face {
    font-family: "JB mono";
    src: url("fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

:root {
    --c-back-main: #2f2f2f;
    --c-back-head: #232323;
    --c-back-head-split: #474747;

    --c-accent: #44ac69;
    --c-accent-2: #ba53b8;
    --c-accent-l: #4adb7e;
    --c-accent-2-l: #e753e5;
    --c-accent-d: #2b6d43;
    --c-accent-2-d: #713070;

    --c-thumb: #868686;
    --c-null: #00000000;
    --c-split: #5a5a5a;
    --c-comment: #6a6a6a;
}

* {
    font-family: "JB mono", monospace;
    font-size: 11pt;
    color: white;
}

@media screen and (max-width: 800px) {
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--c-thumb);
        border-radius: 5px;
        border: 2px solid var(--c-back-main);
    }

    * {
        font-size: 9pt;
    }
}

@media screen and (min-width: 800px) {
    ::-webkit-scrollbar {
        width: 18px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--c-thumb);
        border-radius: 9px;
        border: 4px solid var(--c-back-main);
    }
}

::-webkit-scrollbar-track {
    background: var(--c-back-main);
}

body {
    background: var(--c-back-main);
    color: white;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

button {
    border-radius: 8px;
    border: solid 4px var(--c-null);
    /*border-width: 3px 20px;*/
    margin: 4px;
    padding: 0;
    background: var(--c-accent);
    color: white !important;
}

header {
    background: var(--c-back-head);
    border-bottom: 2px solid var(--c-back-head-split);
    left: 0;
    right: 0;
    top: 0;
    bottom: 90vh;
    position: fixed;
    margin: 0;
}

main {
    left: 0;
    right: 0;
    top: 10vh;
    bottom: 0;
    position: fixed;
    margin: 0;
    overflow-y: scroll;
    background: var(--c-back-main);
    white-space: normal;
    padding: 0;
    min-height: 90vh;
}

#icon-text {
    font-size: 32px;
    font-family: Impact, sans-serif;
    fill: #ffffff;

}

#icon-text tspan {
    font-size: 32px;
    font-family: Impact, sans-serif;
    fill: #000000;

}

#icon-cin {
    fill: #ffffff;
    animation-name: icon-anim;
}

#icon-c, #icon-r {
    fill: #4670b1;
}

#icon {
    margin-left: 8px
}

[title], u, a, [title] *, u *, a * {
    color: var(--c-accent);
}

[title]:hover, u:hover, a:hover, [title]:hover *, u:hover *, a:hover * {
    color: var(--c-accent-l);
}

#content {
    margin: 1vw 4vw;
}

.center {
    text-align: center
}
