@font-face {
    font-family: "JB mono";
    src: url("fonts/JetBrainsMono-Regular.woff2") format("woff2");
}

.g-btn {
    background: var(--c-green);
}

.g-btn:hover {
    background: white;
    color: var(--c-green-d);
}

.m-btn {
    background: var(--c-magenta);
}

.m-btn:hover {
    background: white;
    color: var(--c-magenta-d);
}

.b-btn {
    background: var(--c-blue);
}

.b-btn:hover {
    background: white;
    color: var(--c-blue-d);
}

.go-btn {
    background: var(--c-gold);
}

.go-btn:hover {
    background: white;
    color: var(--c-gold-d);
}

.r-btn {
    background: var(--c-red);
}

.r-btn:hover {
    background: white;
    color: var(--c-red-d);
}

.gr-btn {
    background: var(--c-gray);
}

.gr-btn:hover {
    background: white;
    color: var(--c-gray-d);
}

.g-btnh {
    background: var(--c-green);
}

.m-btnh {
    background: var(--c-magenta);
}

.b-btnh {
    background: var(--c-blue);
}

.go-btnh {
    background: var(--c-gold);
}

.r-btnh {
    background: var(--c-red);
}

.gr-btnh {
    background: var(--c-gray);
}

:root {
    --c-back-main: #2F2F2F;
    --c-back-head: #232323;
    --c-back-head-split: #474747;
    --c-gray-help: #3B3B3B;
    --c-back-light: #6D6D6D;

    --c-green: #459B51;
    --c-green-l: #38AF61;
    --c-green-d: #186134;
    --c-green-f: #94C4A4;
    --c-magenta: #BA53B8;
    --c-magenta-l: #E753E5;
    --c-magenta-d: #713070;
    --c-magenta-f: #C9A9C8;
    --c-blue: #459CC9;
    --c-blue-l: #0EBDFF;
    --c-blue-d: #0162AC;
    --c-blue-f: #9AB3CD;
    --c-red: #D73838;
    --c-red-l: #FF0F0F;
    --c-red-d: #9A0D0D;
    --c-red-f: #DEA7A7;
    --c-gray: #626262;
    --c-gray-l: #858585;
    --c-gray-d: #3A3A3A;
    --c-gray-f: #B7B7B7;
    --c-gold: #CF8B14;
    --c-gold-l: #FFC70E;
    --c-gold-d: #A96602;
    --c-gold-f: #CDBF9A;

    --c-thumb: #868686;
    --c-null: #00000000;
    --c-split: #5A5A5A;
    --c-comment: #6A6A6A;
}

* {
    font-family: "JB mono", monospace;
    font-size: 12pt;
    color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--c-thumb);
    border: 4px solid var(--c-back-main);
}

@media screen and (max-width: 800px) {
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        border-width: 2px;
    }

    * {
        font-size: 9pt;
    }

    main {
        margin-left: 10px;
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll;
    }

    main::-webkit-scrollbar {
        display: none;
    }

    #popup_upload {
        top: 100px;
        bottom: 100px;
        right: 5%;
        left: 5%;
    }
}

@media screen and (min-width: 800px) {
    ::-webkit-scrollbar {
        width: 18px;
        height: 18px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 9px;
        border-width: 4px;
    }

    main {
        margin-left: 18px
    }

    #popup_upload {
        top: 100px;
        bottom: 200px;
        right: calc(50vw - 200px);
        left: calc(50vw - 200px);
    }
}

::-webkit-scrollbar-track {
    background: var(--c-back-main);
}

body {
    background: var(--c-back-main);
    color: white;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

button, .btna {
    border-radius: 1rem;
    border: none;
    display: inline-block;
    margin: 0.1rem;
    padding: 0 0.4rem;
    cursor: pointer;
    text-decoration: none;
}

button:not([class*=-btn]), .btna:not([class*=-btn]) {
    background: var(--c-green);
    color: white;
}

button * {
    background: var(--c-null);
    color: white;
}

main {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    margin: 0;
    overflow-y: scroll;
    background: var(--c-back-main);
    white-space: normal;
    padding: 1rem;
}

#icon-text {
    font-size: 32px;
    font-family: Impact, sans-serif;
    fill: #FFFFFF;

}

#icon-text tspan {
    font-size: 32px;
    font-family: Impact, sans-serif;
    fill: #000000;
}

#icon-cin {
    fill: #FFFFFF;
    animation-name: icon-anim;
}

#icon-c, #icon-r {
    fill: #4670B1;
}

#icon {
    left: 8px;
    top: 8px;
    bottom: 8px;
    position: fixed;
    height: calc(10vh - 16px);
}

[title], u, a:not([class]), [title] *, u *, a:not([class]) * {
    text-decoration: none;
    color: var(--c-green);
}

[title]:hover, u:hover, a:not([class]):hover, [title]:hover *, u:hover *, a:not([class]):hover * {
    color: var(--c-green-l);
}

a.not_a_text, a.not_a_text *, a.btna, a.btna * {
    text-decoration: none;
    color: white
}

.center {
    text-align: center
}

#nfs1 {
    background: var(--c-back-head);
    text-align: right;
    width: fit-content;
    padding: 1rem 1rem 1rem 5rem;
}

#nfs1 a {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    padding: 0 0.5rem;
    margin: 0.5rem 0;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

#nfs2 {
    width: available;
    padding: 1rem;
}

#nfs2 a {
    display: block;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

fieldset {
    margin: 0;
    border: none;
}

nav {
    display: block;
    background: var(--c-back-main);
    left: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 1rem black;
}

#navhider:checked ~ nav {
    animation: 0.5s slidein;
    left: 0;
}

#navhider:not(:checked) ~ nav {
    animation: 1s slideout;
    left: -100vw;
}

@keyframes slidein {
    from {
        left: -100vw;
    }

    to {
        left: 0;
    }
}

@keyframes slideout {
    from {
        left: 0;
    }

    to {
        left: -100vw;
    }
}

ul ::marker {
    content: '• ';
}

.tree > li::marker {
    content: none
}

.tree ul > li::marker {
    content: '├─';
    color: var(--c-split);
}

.tree ul > li:last-child::marker {
    content: '└─';
}

.tree ul, .tree ol {
    counter-reset: section;
    padding-left: 1rem;
}

#hsl {
    cursor: pointer;
    z-index: 100;
    left: 0;
    top: 0;
    position: fixed;
    text-align: center;
    line-height: 3rem;
    transform: rotate(90deg);
    background: var(--c-back-main);
    visibility: visible !important;
    width: 3rem;
    height: 3rem;
    display: block;
    box-shadow: 0 0 1rem black;
    border-radius: 0 1.5rem 0 0;
    animation: 0.4s menu_bout;
}

@keyframes menu_bin {
    from {
        border-radius: 0 1.5rem 0 0;
        left: 0;
        top: 0;
    }

    to {
        border-radius: 1.5rem;
        left: 1rem;
        top: 1rem;
    }
}

@keyframes menu_bout {
    from {
        border-radius: 1.5rem;
        left: 1rem;
        top: 1rem;
    }

    to {
        border-radius: 0 1.5rem 0 0;
        left: 0;
        top: 0;
    }
}

#hsl:hover {
    box-shadow: 0 0 1rem var(--c-magenta);
}

#navhider:checked ~ #hsl {
    box-shadow: 0 0 1rem var(--c-magenta-d);
    background: var(--c-magenta);
    border-radius: 1.5rem;
    left: 1rem;
    top: 1rem;
    animation: 0.4s menu_bin;
}

#navhider:checked ~ #hsl:hover {
    background: var(--c-magenta-l);
}

textarea {
    background: var(--c-back-main);
}

.unselectable, #hsl {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

#popup_upload {
    background: var(--c-blue);
    position: absolute;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    border: none;
    z-index: 9999;
    border-radius: 10px;
    display: grid;
}

#popup_upload > input {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    position: absolute;
}

#popup_upload > div {
    text-align: center;
    border: none;
    position: center;
    align-self: center;
}

#popup_upload::-webkit-scrollbar {
    display: none;
}

input {
    background: var(--c-back-head);
}

input[type='range'] {
    overflow: hidden;
    width: 8rem;
    -webkit-appearance: none;
    background-color: var(--c-magenta-d);
    border-radius: 7px;
    height: 1rem;
    vertical-align: middle;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 1rem;
    color: var(--c-magenta-l);
}

input[type='range']::-webkit-slider-thumb {
    width: 1rem;
    -webkit-appearance: none;
    height: 1rem;
    cursor: ew-resize;
    border: 3px solid var(--c-magenta-l);
    background: white;
    border-radius: 0.5rem;
    box-shadow: -8rem 0 0 7.5rem var(--c-magenta-l);
}
