main {
    align-items: center;
    gap: 1rem
}

section {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    gap: 1rem;
    background: var(--c-dark-text);
    padding: 1rem;
    border-radius: 1rem;
    border: solid 2px var(--c-blue);
}
