<html lang="ru">
<head>
    <title>---------------------------------------------------------</title>
    <script type="text/javascript" src="../../az.js"></script>
    <script type="text/javascript">settings();</script>
    <meta property="og:url" content="https://azsspc.github.io/projects/Template"/>
    <meta property="og:title" content="--------------"/>
    <meta property="og:description" content="--------"/>
    <meta property="og:image" content="https://azsspc.github.io/img/icon.png"/>
</head>
<body>
<script type="text/javascript">header();</script>
<main>i am sample</main>
</body>
</html>
<script type="text/javascript" src="main.js">
</script>
