.red { color: #EA6262 }

.blue { color: #92ADF1 }

.green { color: #7FD57F }

.orange { color: #F88125 }

.yellow { color: #FFD800 }

.magenta { color: #D297FF }

.main { color: #F67EC6 }

.func { color: #58D559 }

.case { background: #440558 }

.void { color: #6FCBFF; background: #323E42 }

.comment, .comment * { color: #8D8D8D; }

.string, .string * { color: #7FD57F; background: #484E48 }
