input {
	background: #232323;
}

main {
	padding-left: 1rem;
	padding-right: 1rem
}

#turing_table td {
	min-width: 4rem;
	min-height: 2rem;
	text-align: center;
	border-radius: 5px;
	background: #232323;
}

#line > span {
	display: inline-block;
	background: #232323;
	width: 2.5rem;
	padding: 1rem 0 4px 0;
	border: solid 1px black;
	text-align: center;
	position: relative;
}

#line > span[sel] {
	background: white;
	border: solid 1px white;
	color: black;
}

#line > span:before {
	content: attr(q);
	font-size: .7rem;
	position: absolute;
	top: 2px;
	left: 2px;
	color: #0EBDFF;
}
#line > span[sel]:before {
	color: #00394F;
}