main {
    text-align: center;
}

main img {
    max-width: 40vw;
    max-height: 80vh;
    background-color: #d2bca7;
}

main label {
    border-radius: 1rem;
    padding: 2px 2px 2px 8px;
    background: var(--c-magenta-d);
}

main input[type=number] {
    width: 5rem;
    border-radius: 1rem;
    padding: 0 .3rem;
}

main input[type=color] {
    width: 2rem;
    height: 19px;
    border: 0;
    padding: 0;
    margin: 0;
    vertical-align: top;
    background: inherit;
    display: inline-block;
    border-radius: 1rem;
}

.color {
    padding: .2rem .4rem
}

.tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    padding-bottom: 1rem;
}

#img_to {
    display: block
}

#img_buf {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -999;
}

#img_from {
    display: block;
}

#images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
}

#img {
    display: none
}

@media screen and (max-width: 800px) {
    #images {
        grid-template-columns: 80vw;
    }
}