@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

* {
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    color: white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

body {
    background-size: 100px 100px;
    background-color: #2d2d2d;
    background-image: repeating-radial-gradient(
            #232323, #232323 20px,
            #282828 20px, #282828 40px,
            #2d2d2d 40px, #2d2d2d 60px
    );
    padding: 1rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

header {
    position: sticky;
    top: 1rem;
    padding: 2rem;
    font-weight: bold;
    text-shadow: 0 0 1rem #00000080;
    box-shadow: 0 0 1rem #00000080;
    background: linear-gradient(#2c9d10 .5rem, #724322 .5rem);
    border-radius: 1rem;
    font-size: 24px;
    animation: header_out;
    animation-duration: 300ms;
    max-width: 800px;
    text-align: center;
    z-index: 999;
}

header * {
    font-size: inherit;
    font-weight: inherit;
    text-shadow: inherit;
}

nav {
    z-index: 998;
    padding: 1rem 1.5rem;
    background: #30303b;
    box-shadow: 0 0 1rem #00000080;
    border-radius: 2rem;
}

nav > a {
    text-decoration: none;
    font-size: 14px;
    text-shadow: 0 0 1rem #00000080;
}

nav > a:hover {
    color: #ffe176;
    text-decoration: underline;
}

.azalea {
    color: #ffe176
}

/* width */
::-webkit-scrollbar {
    width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1a1a1a;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border: .3rem solid #1a1a1a;
    border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffe176;
}
