main {
	padding: 1rem
}

#alchemy {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 1rem;
	height: 100dvh;
}

#map {
	display: block;
	width: min(45dvmax, 90dvw);
	height: min(45dvmax, 90dvw);
	border-radius: 100%;
	overflow: hidden;
}

#inventory {
	height: 50dvmin;
	overflow-y: scroll;
	gap: 8px;
}

#ingredients {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.item {
	display: grid;
	--influence-direction: 1;
	--influence-percent: 50%;
	--item-color: white;
	padding: 4px;
	background-color: var(--c-dark-text);
	border-radius: 8px;
}

.item-title:before {
	display: inline-block;
	content: ' ';
	height: 1rem;
	width: 1rem;
	border-radius: 1rem;
	background-color: var(--item-color);
	/*margin-right     : 4px;*/
}

.item-description {
	color: var(--c-gray-l);
	padding: 4px
}

.item-influence-group {
	display: flex;
	gap: 4px;
}

.item-influence {
	font-size: 12px;
	padding: 0 4px;
	border-radius: 8px;
	width: -webkit-fill-available;
	border: solid 1px #353434;
}

.item-influence-x {
	background: linear-gradient(calc(90deg * var(--influence-direction)),
			black 50%, #C83947 50%, #C83947 var(--influence-percent), #351317 var(--influence-percent))
}

.item-influence-y {
	background: linear-gradient(calc(90deg * var(--influence-direction)),
			black 50%, #248A38 50%, #248A38 var(--influence-percent), #132716 var(--influence-percent))
}

.item-influence-z {
	background: linear-gradient(calc(90deg * var(--influence-direction)),
			black 50%, #2851B6 50%, #2851B6 var(--influence-percent), #151E33 var(--influence-percent))
}

.item-influence-w {
	background: linear-gradient(calc(90deg * var(--influence-direction)),
			black 50%, #D3B728 50%, #D3B728 var(--influence-percent), #43280D var(--influence-percent))
}

.item-put {
	background: var(--c-green-d);
	cursor: pointer;
	border-radius: 1rem;
	margin-top: 4px;
}

#map-pos {
	display: block;
	position: absolute;
	bottom: 2rem;
	right: 0;
	left: 0;
	text-align: center;
}

#brew-btn {
	display: block;
	position: absolute;
	bottom: 10%;
	right: 10%;
	overflow: visible;
	border-radius: 100% 0 100% 0;
	width: 10%;
	height: 10%;
	cursor: pointer;
	transition: 300ms;
	border: solid 2px black;
	background-color: #11551f;
}

#map-holder:hover #brew-btn {
	border-color: #26bb44;
}

#brew-btn:hover {
	background-color: #26bb44;
}

#map-holder {
	position: relative;
}