#alchemy {
	display        : flex;
	flex-direction : row;
	flex-wrap      : wrap;
}

#map {
	display       : block;
	width         : 90dvmin;
	height        : 90dvmin;
	margin        : auto;
	border-radius : 100%;
	overflow      : hidden;
}

#inventory {}