
:root {
    --gc: 21;
}

@media (orientation: portrait) {
    :root {
        --ts: calc((100vw - 36px) / var(--gc));
    }
}

@media (orientation: landscape) {
    :root {
        --ts: calc((90vh - 72px) / var(--gc));
    }
}

#forg {
    display: grid;
    width: 100%;
    height: 100%;
}

#game {
    display: grid;
    border-spacing: 0;
    grid-template-columns: repeat(var(--gc), var(--ts));
    cursor: pointer;
    padding: 3px;
    width: fit-content;
    align-self: center;
    justify-self: center;
}

#game > * {
    font-size: calc(var(--ts) * .8);
    width: calc(var(--ts) * .8);
    height:  calc(var(--ts) * .8);
    text-align: center;
    line-height: var(--ts);
    display: inline-grid;
    color: #000000;
    background: #797979;
    border: #656565 calc(var(--ts) * .1) inset;
}
