@media (orientation: portrait) {
	:root { --ts: max(12pt, calc((100vw - 36px) / var(--gc))); }
}

@media (orientation: landscape) {
	:root { --ts: max(12pt, calc((90vh - 72px) / var(--gc))); }
}

#forg {
	display: grid;
	width: 100%;
	height: 100%;
	overflow: scroll;
}

#game {
	margin: 1rem;
	border: var(--c-accent-3) calc(var(--ts) * .1) solid;
	display: grid;
	border-spacing: 0;
	grid-template-columns: repeat(var(--gc), var(--ts));
	width: fit-content;
	align-self: center;
	justify-self: center;
}

#game > * {
	text-align: center;
	font-size: calc(var(--ts) * .8);
	width: calc(var(--ts) * .8);
	height: calc(var(--ts) * .8);
	line-height: var(--ts);
	display: inline-grid;
	color: #000000;
	background: #797979;
	border: #656565 calc(var(--ts) * .1) inset;
	justify-content: center;
	align-content: center;
}

#game > *[onclick] { cursor: pointer;}