:root {
    --ts: calc(min(100dvw, 90dvh) / var(--gc));
    --tsf: calc(var(--ts) * .65);
}

#game {
    border: var(--c-blue) calc(var(--ts) * .05) solid;
    grid-template-columns: repeat(var(--gc), 1fr);
    display: grid;
    border-spacing: 0;
    width: fit-content;
}

#game > * {
    text-align: center;
    font-size: var(--tsf);
    line-height: var(--tsf);
    width: var(--ts);
    height: var(--ts);
    display: inline-grid;
    color: #000000;
    background: #797979;
    border: #656565 calc(var(--ts) * .05) inset;
    justify-content: center;
    align-content: center;
}

#game > *[onclick] {
    cursor: pointer;
}