main {
    padding-left: 1rem;
    padding-right: 1rem
}

#out {
    background: var(--c-back-head-split);
    height: 50%;
    padding: .7rem;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
}

#et {
    padding: .7rem;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    height: 20%;
}

fieldset {
    width: 100%;
    text-align: center;
    padding: 0;
}

select {
    background: var(--c-back-head);
    border: 0.2rem solid var(--c-back-head);
    border-radius: 1rem;
}