main {
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: unset !important;
    text-align: center;
}

#line {
    word-break: break-all;
    text-align: left;
    white-space: pre-wrap;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    background: var(--c-back-head);
}

#ttd {
    overflow: scroll;
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#nma_table {
    margin: 0;
    width: calc(100% - 2rem);
    background: var(--c-back-main);
    position: absolute;
    padding-left: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#nma_table ::marker {
    color: var(--c-back-light);
    content: counter(list-item) '.';
}

#nma_table li {
    cursor: move;
    color: var(--c-blue-d);
    text-align: left;
    margin-left: 2rem;
    background: var(--c-gray-help);
    margin-bottom: 5px;
    border-radius: 8px;
}

#nma_table li > div {
    width: calc(100% - 6px);
    position: relative;
    display: inline-block;
    margin: 3px;
}

.exit {
    color: var(--c-blue-l);
    cursor: pointer;
}

.exit[t] {
    color: var(--c-magenta-l);
}

.from, .to {
    cursor: text;
    white-space: pre-wrap;
    background: var(--c-back-head);
    border-radius: 5px;
    padding: 0 .5rem;
}

#grid {
    grid-template-rows: fit-content(0) 1fr;
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    height: 100%;
}

[query] {
    background: var(--c-green-d) !important;
}

[off] {
    background: var(--c-magenta-d) !important;
}

.ghost {
    opacity: .4;
}

.del {
    white-space: pre-wrap;
    background: var(--c-red);
    border-radius: 5px;
    padding: 0 4px;
    right: 0;
    position: absolute;
    color: white;
    cursor: pointer;
}
