.edit_pane {
    white-space: pre-wrap;
    background: #2f2f2f;
    border-top: 4px solid #2f2f2f;
    border-bottom: 4px solid #2f2f2f;
    overflow-y: scroll;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    margin: 0;
    text-transform: full-size-kana;
}

.red {
    color: #ea6262
}

.blue {
    color: #92adf1
}

.green {
    color: #7fd57f
}

.edit_pane ::marker {
    display: list-item;
    content: " " counter(h3) " ";
    color: #7f7f7f;
}

.edit_pane li {
    counter-increment: h3;
    background: #424242;
    padding: 0 0.3rem;
}

@media screen and (max-width: 800px) {
    .edit_pane ::marker {
        font-size: 8pt;
    }

    .edit_pane {
        top: 10vh;
    }
}

@media screen and (min-width: 800px) {
    .edit_pane ::marker {
        font-size: 9pt;
    }

    .edit_pane {
        top: 5vh;
    }
}

/*

.edit_pane {
    counter-reset: item;
    list-style-type: none;
}

li:before {
    display: inline-block;
    min-width: 42px;
    content: " " counter(item) " ";
    counter-increment: item;
    color: #7f7f7f;
    background: #2f2f2f;
    margin-right: .5rem;
    text-align: right;
}*/