#ep, #epf {
    white-space: pre-wrap;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
    padding: 0 0 0 3rem;
    border-top: 4px solid;
    border-bottom: 4px solid;
}

#ec {
    overflow-y: scroll;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: 0;
}

#ep, #ep * {
    border-color: #00000000;
    color: #00000000;
    caret-color: #adadad;
}

#epf li, #ep li {
    padding: 0 0.3rem;
}

#epf {
    background: #2f2f2f;
    border-color: #2f2f2f
}

#epf li::marker {
    content: " " counter(list-item) " ";
    color: #7f7f7f;
}

#epf li {
    display: list-item;
    background: #424242;
}

#tab {
    top: 24px;
    left: 0;
    right: 0;
    position: absolute;
    margin: 0;
    display: inline-grid;
    padding: 4px;
    z-index: 9;
}

#tab button {
    text-transform: uppercase;
    background: var(--c-accent);
    color: white;
}

@media screen and (max-width: 800px) {
    #tab button {
        font-size: 10pt;
    }

    #tab {
        grid-template-columns: repeat(3, 1fr);
        bottom: 90vh;
    }

    #epf ::marker {
        font-size: 8pt;
    }

    #ec {
        top: 96px;
    }
}

@media screen and (min-width: 800px) {
    #tab button {
        font-size: 11pt;
    }

    #tab {
        grid-template-columns: repeat(6, 1fr);
    }

    #epf ::marker {
        font-size: 9pt;
    }

    #ec {
        top: 68px;
    }
}

#tab button[changed=true] {
    border-color: #7fd57f;
}

#tab button[changed=false] {
    /*border: solid 2px #7fd57f;*/
}