main img {
    max-width: 40vw;
    max-height: 80vh;
    background-color: #d2bca7;
}

#img_to {
    display: block
}

#img_buf {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -999;
}

#img_from {
    display: block;
}

#images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
}

#img {
    display: none
}

@media screen and (max-width: 800px) {
    #images {
        grid-template-columns: 80vw;
    }
}