#f_r {
    text-align: center;
}

#f_b {
    text-align: center;
    overflow: auto;
    white-space: nowrap;
    overflow-x: scroll;
    border-radius: 20px 20px 0 0;
}


#f_d, .m_c > .m_f {
    display: none;
}

.m_c, .m_cb {
    display: inline-block;
    margin: 4px;
    padding: 8px;
    background-color: var(--c-accent-2-f);
    cursor: pointer;
    border-radius: 10px;
}

.m_c *, .m_cb * {
    color: var(--c-accent-2-d) !important;
    font-family: MathJax_Math-italic;
    font-size: 14pt;
}

.m_cb {
    border-radius: 0;
    margin: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    padding: 8px;
    border: solid 8px var(--c-accent-2-d);
}

.m_cb > .m_f {
    display: block !important;
    margin-top: 46px;
}

.m_c:hover {
    background: white;
}

.MathJax_Display {
    margin: 0 !important;
}