main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}