@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

* {
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    color: white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

body {
    background-size: 100px 100px;
    background-image: repeating-radial-gradient(
            #232323, #232323 20px,
            #282828 20px, #282828 40px,
            #2d2d2d 40px, #2d2d2d 60px
    );
}

main {
    padding: 1rem;
    min-height: 100vh;
}

header {
    padding: 3rem 3rem 2.5rem 3rem;
    font-weight: bold;
    text-shadow: 0 0 1rem #00000080;
    box-shadow: 0 0 1rem #00000080;
    margin: 2rem auto 3rem auto;
    background: linear-gradient(#2c9d10 1rem, #724322 1rem);
    border-radius: 1rem;
    font-size: 24px;
    animation: header_out;
    animation-duration: 300ms;
}

header * {
    font-size: inherit;
    font-weight: inherit;
    text-shadow: inherit;
}

#to_the_main {
    padding: 1rem 1.5rem;
    background: #30303b;
    text-shadow: 0 0 1rem #00000080;
    box-shadow: 0 0 1rem #00000080;
    text-decoration: none;
    border-radius: 2rem;
    font-size: 14px;
}

#to_the_main:hover {
    color: #ffe176;
    text-decoration: underline;
}

.azalea {
    color: #ffe176
}