main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

main > a {
    display: inline-flex;
    filter: drop-shadow(0 0 5px black);
    text-decoration: none;
    gap: 1rem;
    width: 250px;
    height: 250px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

main > a span {
    display: block;
    font-size: 24px;
    text-shadow: 0 0 1rem #00000080;
    animation: text_out;
    animation-duration: 300ms;
}

main > a img {
    width: 150px;
    animation: box_out;
    animation-duration: 300ms;
}

main > a:hover img {
    width: 200px;
    animation: box_in;
    animation-duration: 300ms;
}

main > a:hover span {
    font-size: 28px;
    animation: text_in;
    animation-duration: 300ms;
}

@keyframes box_in {
    from {
        width: 150px;
    }
    to {
        width: 200px;
    }
}

@keyframes box_out {
    from {
        width: 200px;
    }
    to {
        width: 150px;
    }
}

@keyframes text_in {
    from {
        font-size: 24px;
    }
    to {
        font-size: 28px;
    }
}

@keyframes text_out {
    from {
        font-size: 28px;
    }
    to {
        font-size: 24px;
    }
}

@media screen and (max-width: 800px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    main {
        grid-template-columns: 1fr;
    }
}